{% extends 'base.html' %}
{% block content %}
{% load static %} 

{% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'css/ads.css' %}">

<!-- ads section starts  -->

<section class="resell" id="resell">

    <h3 class="sub-heading"> our Ads </h3>
    <h1 class="heading"> Top Resell valued Cars </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
            <img src="{% static 'images/audi a6 2002.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Audi A6 2002</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="info" class="btn">More Info</a>
                <span class="Price">£1,785</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/bmwz4.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>BMW Z4 2004</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£2,560</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/audiR3.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Audi R3</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£3,650</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/fordgalaxy.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Ford Galaxy 2010</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">$7,800</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/hundacivic.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Hunda Civic 2007</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£3,450</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/peugeot 2008 2014.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Peugeot 2OO8 2014</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£6,900</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/suzukiswift.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Suzuki Swift 2008</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£1,950</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/vauxhall corsa.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Vauxhall Corsa 2012</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£8,800</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
            <img src="{% static 'images/mazda 6 2007.jpg' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Mazda 6 2007</h3>
                <p>Everthing refurbished, small scrtch on back, leather seat been changed as brand new. this car is on cheapest Price on market.</p>
                <a href="#" class="btn">More Info</a>
                <span class="Price">£1,700</span>
            </div>
        </div>

    </div>
</section>

<!-- ads section ends -->
{% endblock %}